<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" width="300" height="300">
        <h3>Lugar para poner tu barra de busqueda</h3>
        <h3>Compra en cuotas y sin tarjeta de credito</h3>
        <ul>
            <li> <a href = "/ofertas" >Ofertas</a></li>
            <li><a href = "tiendasoficiales" >Tiendas Oficiales</a></li>
            <li><a href = "vender" >Vender</a></li>
            <li><a href = "ayuda" >Ayuda</a></li>
            <br>
            <li><a href = "creatucuenta" >Creá tu cuenta</a></li>
            <li><a href = "ingresa" >Ingresa</a></li>
            <li><a href = "miscompras" >Mis Compras</a></li>
        </ul>
    </header>
    <main>
        <div>
            <img src="/images/img-home-banner.jpg" height="100" width="382.4">
        </div>
        <div>
            <h3>Basado en tu ultima visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200" height="200">
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>