*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}

body{
    font-family: 'Roboto', sans-serif;  
}

body p {
    font-weight: bold;
}

.top-header {
    padding: 1%;
}

.logo {
    padding: 3%;
}

.input {
    background-color: white;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 3px;
    color: #666;
    padding: 2px;
    height: 30%;
}

.search-lupa {
    color:#666;
    width: 120%;
    height: 100%;
    font-size: 80%;
    background-color: white;
    border: solid 1px rgb(209, 209, 209);;
    border-radius: 3px;
}

body .top-header h4 {
    text-align: center;
    padding: 3%;

}

header nav {
    font-size: 15px;
    padding-left: 5%;
}

header nav ul li a:hover {
    color: blue;
}


header ul li {

    list-style-type: none;

}

header ul li a {
    text-decoration: none;
    color: #000;
}

div.burger-menu{
    text-align: center;
}

.burger-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 0.5%;
    color: white;
}

.banner img{
    width: 100%;
}

main h2{
    font-size: 16px;
    padding: 2%;
    color: #666;
}

section.last-visit,
section.offers{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

main section div.productos article {
    background-color: #ffffff;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

.border-article-div {  
    border-top: 1px solid #c7c5c5;
    padding: 15px;
}

main section article h4 {
    padding-top: 2%;
}

.article-wrap-description {
    display: flex;
}

.article-wrap-description .price {
    flex-grow: 0.3;
}

.article-wrap-description .discount {
    flex-grow: 0.7;
    color: green;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: relative;
    right: -90%;
    }

footer {
    text-align: center;
    padding: 5%;
}

footer section div {
    margin: 5% 0%;
}

.size-icons-pie {
    font-size: 2em;
    color: blue;
    margin-bottom: 10px;
}

footer h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*FORMULARIO*/

.formulario{
    margin: 0%;
    background-color: rgb(223, 223, 223);
    background-size: cover;
    font-weight: inherit;
    text-align: center;
    padding: 5%;
}

.back-form{
    background-color: white;  
    border: 2px solid rgb(208, 208, 208);
    border-radius: 10px;
    padding: 5%;
    width: 75%;
    margin: auto;
}

.formulario .input-style{
    background-color: white;
    border: solid 1px rgb(208, 208, 208);
    border-radius: 5px;
    padding: 1%;
    margin: 0.8%;
    width: 80%;
}

.formulario .input-checkbox-radio{
    font-size: 14px;
    font-weight: lighter;
    padding: 0.5%;
    margin: 10px 0px;
}

.formulario .input-checkbox-radio div{
    margin: 5px 0px;
}

.formulario h2{
    color: #000;
}

.style-button-enviar{
    background-color: blue;
    color: white;
    border: solid 1px blue;
    border-radius: 5px;
    padding: 0.5%;
    margin: 0.3%;
    width: 15%;
}

.style-button-borrar{
    background-color: red;
    color: white;
    border: solid 1px red;
    border-radius: 5px;
    padding: 0.5%;
    margin: 0.3%;
    width: 10%;
}

/*LOGIN*/

.back-style{
    background-color: rgb(223, 223, 223);
    padding: 10%;
}

.box-login{
    background-color: white;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 10px;
    padding: 5%;
    width: 75%;
    margin: auto;
}

.login-style{
    margin: auto;
    text-align: center;
}

.input-style{
    background-color: white;
    border: solid 1px rgb(208, 208, 208);
    border-radius: 5px;
    padding: 1%;
    margin: 3%;
    width: 40%;
}

.button-style{

    background-color: white;
    color: blue;
    border: solid 2px blue;
    border-radius: 5px;
    margin-top: 3%;
    padding: 1% 2%;
    width: 40%;
    font-size: 14px;
}

.button-style:hover{
    background-color: #0022AA;
    border: #0022AA solid 2px;
    color: white ;
    
}

@media (max-width: 361px){

    .top-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        flex-grow: 0.5;
        width: 45%;
    }
    
    .input-flex{
        display: flex;
        flex-grow: 0.5;
        width: 45%;
    }

    .input{
        display: flex;
        width: 20%;
    }

    .search-lupa{
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
        width: 45%;
    }
    
    .h4-cuotas{
        width: 100%;
    }

    body header nav{
        display: none;
    }

    .border-article-div h4 {
        display: none;
    }


    footer {

        font-size: 70%;

    }
}

@media (min-width: 361px){

    .top-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .input-flex{
        display: flex;
        flex-direction: wrap;
        flex-direction: row;
        align-items: center;
        width: 45%;
    }

    .input{
        padding: 5px;
        flex-grow: 0.8;
    }

    .search-lupa{
        flex-grow: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 5%;
        width: 1%;
        height: 30%;
    }

    .logo{
        width: 45%;
    }

    header nav ul li{
        font-size: 70%;
    }


    .burger-menu {
        display: none;
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article .border-article-div h4{
        font-size: 12px;
    }

    article .border-article-div i{
        font-size: 12px;
        width: 25px;
        height: 25px;
        position: relative;
        right: -85%;
    }

    article .border-article-div p{
        font-size: 12px;
    }

    .price,
    .discount{
        width: 50%;
    }

    footer {

        font-size: 70%;

    }
}

@media (max-width:600px){

    .input{
        width: 50%;
        flex-grow: 0.8;
    }

    .search-lupa{
        flex-grow: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 5%;
        width: 1%;
    }

    .h4-cuotas{
        font-size: 80%;
    }

    .style-button-enviar{
        
        width: 30%;
    }

    .style-button-borrar{
    
        width: 30%;
    }

}

@media (min-width:600px){

    header nav ul li{
        font-size: 90%;
    }

    main h2{
        font-size: 18px;
    }


    .style-button-enviar{
        
        width: 30%;
    }

    .style-button-borrar{
    
        width: 30%;
    }

    article .border-article-div h4{
        font-size: 14px;
    }

    article .border-article-div i{
        font-size: 14px;
    }

    article .border-article-div p{
        font-size: 14px;
    }


    footer {

        font-size: 80%;

    }

}


@media (min-width: 769px){

    div.top-header{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo{

        width: 30%;
    }

    .h4-cuotas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        font-size: 80%;
    }

    header nav ul {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header nav ul li {

        display: flex;
        font-size: 90%;

    }

    header nav ul li a {

        list-style-type: none;

    }

    .input-flex{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 30%;
        justify-content: space-around
    }


    .input-flex .search-lupa{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 5%;
        width: 1%;
    }


    main {
        width: 100%;
    }
    
    main section div.productos article{
        width: 22%;
    }

    article .border-article-div h4{
        font-size: 12px;
    }

    article .border-article-div i{
        font-size: 12px;
        width: 30px;
        height: 30px;
        position: relative;
        right: -85%;
    }

    article .border-article-div p{
        font-size: 12px;
    }

    .formulario .input-style{
        width: 60%;
    }

    footer {

        font-size: 80%;

    }

}

@media (min-width: 1100px){

    header nav ul li{
        font-size: 110%;
    }

    main h2{
        font-size: 20px;
    }


    .style-button-borrar{

        width:15%;
    }

    .search-lupa {
        width: 100%;
        padding: 0.5%;
    }

    article .border-article-div h4{
        font-size: 16px;
    }

    article .border-article-div i{
        font-size: 16px;

    }

    article .border-article-div p{
        font-size: 16px;
    }

    article div.border-article-div h4.ocultar{
        visibility: hidden;
    }

    main section article:hover h4.ocultar{
        visibility: visible;
    }

    main section article{
        box-shadow: none;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article:hover .border-article-div i{
        transform: rotateZ(-90deg);
        transition: all 0.5s;
        
    }


    footer section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        font-size: 90%;

    }

    footer section div i:hover{
        color: #EAC926;
    }

    footer section div.footer-1{
        width: 30%;
    }
}